
.marshmellow {

    color: #ffffff;
}

a:link {
    color: ff8b94;
}


h3 {
    background-color: #dcedc1;
    font-family: 'Quicksand', sans-serif;
}

body {
    margin: 0px;
}

img {
    width: 100%;
    max-width: 500px;
}

#navigation {
    position: fixed;
    padding: 10px;
    background-color: #ffd3b6;
    width: 100vw;
    font-family: 'Quicksand', sans-serif;
}

#navigation > ul {
margin: 0px;
padding: 10px;    
list-style: none;
}

#navigation > ul > li {
    margin-right: 0 10px 0 0;
    display: inline;
}

#navigation .container {
    margin: 0 auto;
}

#navigation ul li {
    position: relative;
}

#navigation a + ul {
    background-color: #ffaaa5;
    display: none;
    position: absolute;
    right: 15px;
    top: 20px;
}

#navigation a:hover + ul,
#navigation a + ul:hover {
    display: block;
}

#content p + ul {
    background-color: #ffaaa5
}

#header { 
    padding: 20px;
    background-color: #dcedc1;
}


#footer {
    padding: 10px;
    background-color: #ffd3b6;
    font-family: 'Quicksand', sans-serif;
}


h1 {
    font-family: 'Libre Baskerville', serif;
}

p {
    font-family: 'Quicksand', sans-serif;
}

#footer > ul {
margin: 0px;
padding: 20px;    
list-style: none;
}

#footer > ul > li {
    margin-right: 20px;
    display: inline;
}

.container {
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
}

ul {
    font-family: 'Quicksand', sans-serif;
}
